@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.contentmodal-landsapce {
    object-fit: contain;
    border-radius: 10px;
}

.contentmodal-portrait {
    display: none;
    object-fit: contain;
    border-radius: 10px;
}

.tagline {
    padding-bottom: 10px;
    align-self: center;
}

.contentmodal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
}

.contentmodal::-webkit-scrollbar {
    display: none;
}

.contentmodal-about {
    padding: 10px;
    width: 95%;
    height: 90%;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    justify-content: space-evenly;
    font-weight: 300;
}

.contentmodal-title {
    height: 12%;
    font-size: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentmodal-description {
    display: flex;
    height: 40%;
    overflow-y: scroll;
    padding: 15px;
    border-radius: 20px;
    scrollbar-width: thin;
    /* Firefox */
    box-shadow: inset 0 0 5px #000000;
    text-align: justify;
}

.contentmodal-description::-webkit-scrollbar {
    display: none;
}


@media (min-width: 835px) {
    .contentmodal-landsapce {
        display: none;
    }

    .contentmodal-portrait {
        display: flex;
        width: 38%;
    }

    .contentmodal {
        flex-direction: row;
        justify-content: space-around;
        padding: 10px 0;
    }

    .contentmodal-about {
        width: 58%;
        padding: 0;
        height: 100%;
    }

    .contentmodal-title {
        font-size: 3.5vw;
    }

    .contentmodal-description {
        font-size: 22px;
    }
}